.footer__links {
	display: flex;
}

.footer__links :last-child {
	margin-right: 0;
}

@media screen and (max-width: 714px) {
	.footer__links  {
		flex-direction: column;
		justify-content: space-between;
	}

	.footer__links :first-child {
		margin-top: 0;
	}
}