.lead__image {
	display: block;
	margin: auto;
	width: 76.875%;
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 1024px) {
	.lead__image {
		width: 90.6%;
	}
}

@media screen and (max-width: 768px) {
	.lead__image {
		width: 100%;
	}
}