.cover {
	margin: 92px auto;
	width: 92.5%;
}

@media screen and (max-width: 1024px) {
	.cover {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.cover {
		margin-top: 90px;
		margin-bottom: 88px;
	}
}

@media screen and (max-width: 425px) {
	.cover {
		margin-top: 72px;
		margin-bottom: 70px;
	}
}

@media screen and (max-width: 375px) {
	.cover {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 320px) {
	.cover {
		margin-top: 66px;
		margin-bottom: 64px;
	}
}