.cover__title {
	position: relative;
	z-index: 1;
	margin: 0 0 32px;
	font-weight: 900;
	font-size: 72px;
	line-height: 1.06;
	max-width: 560px;
	text-align: center;
	padding-top: 20.7%;
}

@media screen and (max-width: 1024px) {
	.cover__title {
		padding-top: 19.042%;
	}
}

@media screen and (max-width: 768px) {
	.cover__title {
		padding-top: 14.973%;
	}
}

@media screen and (max-width: 590px) {
	.cover__title {
		margin-bottom: 20px;
		font-size: 52px;
		line-height: 1.07;
		padding-top: 15%;
	}
}

@media screen and (max-width: 425px) {
	.cover__title {
		margin-bottom: 18px;
		font-size: 42px;
		line-height: 1.08;
		padding-top: 10.32%;
	}
}

@media screen and (max-width: 375px) {
	.cover__title {
		margin-bottom: 17px;
		font-size: 37px;
		line-height: 1.09;
	}
}


@media screen and (max-width: 320px) {
	.cover__title {
		max-width: 288px;
		margin-bottom: 16px;
		font-size: 32px;
		line-height: 1.09;
	}
}