.footer {
	margin: 92px auto 24px;
	max-height: 18px;
	max-width: 92.5%;
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 1024px) {
	.footer  {
		max-width: 90.6%;
	}
}

@media screen and (max-width: 768px) {
	.footer  {
		margin: 88px auto 24px;
		max-width: 93.7%;
	}
}

@media screen and (max-width: 548px) {
	.footer  {
		min-height: 310px;
		margin: 64px auto 24px;
		flex-direction: column;
		align-items: flex-start;
	}
}